<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Travel Agency Project - <a asp-area="" asp-controller="Home" asp-action="About">Diego Tsukayama, Illia Konik, Ali Hooshmandghasrodashti</a>
    </div>
</footer>