@model HomeViewModel


<div class="text-center">
    @{
        // Session service
        <h5>Details Session Visits: @ViewBag.publicsession</h5>
    }
    <h1>Search results</h1>

    <div class="hot-deals">
        @if (!Model.flightsHotDeals.Any() && !Model.hotelsHotDeals.Any() && !Model.carsHotDeals.Any())
        {
            <p>No results found.</p>
        }
        else
        {
            @if (Model.flightsHotDeals.Any())
            {
                <h1>Flights</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var flight in Model.flightsHotDeals)
                    {
                        <partial name="_FlightCard" model="flight" />
                    }
                </div>
            }

            @if (Model.hotelsHotDeals.Any())
            {
                <h1>Hotels</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var hotel in Model.hotelsHotDeals)
                    {
                        <partial name="_HotelCard" model="hotel" />
                    }
                </div>
            }

            @if (Model.carsHotDeals.Any())
            {
                <h1>Cars</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var car in Model.carsHotDeals)
                    {
                        <partial name="_CarCard" model="car" />
                    }
                </div>
            }
        }
    </div>
</div>
