@model IEnumerable<GBC_Travel_Group_77.Models.Car>


<h1>All Cars</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var car in @Model)
    {
        <partial name="_CarCard" model="car" />
    }
</div>